.textArea-answer .rt-TextAreaInput {
  min-height: 300px;
}

.rt-BaseDialogOverlay:where([data-state='closed'])::before {
  opacity: 0;
}

.wmde-markdown pre {
  background-color: #1f2937 !important;
}
